.appsemble-string .title {
  margin-bottom: 0 !important;
  font-weight: 400;
  color: hsl(120, 0%, 60%);
  align-self: center;
}

.appsemble-string * {
  display: inline;
  flex: 1 0 auto;
}

.appsemble-string .content {
  text-align: right;
  flex: 1 1 auto;
}

.appsemble-string {
  display: flex;
  align-content: space-between;
  padding: 5px 0;
}

.appsemble-string:not(:last-child) {
  border-bottom: 1px solid hsl(120, 0%, 79%);
}
