@import 'button.css';

.modal-card-body div:last-child {
  padding-bottom: 0 !important;
}

[data-path='pages.reservering-maken'] .modal-card-body {
  padding: 0;
}

select,
input {
  border-radius: 0 !important;
  border-color: #000 !important;
}
